.btn{
    margin-top: 10px;
}
.card{
    margin-top: 10px;
    color: black;
    border: 0;
}
.display-3{

    margin-top: 20%;
    margin-left: 30%;
    font-family: 'Bangers', cursive;
}
.display-2{
    font-family: 'Bangers', cursive;
}

.media{
    margin-top: 20px;
    font-family: 'Orbitron', sans-serif;
}

.mt-0{
    font-size: 30px;
}

.heading1{
    color:white;
}
.nav-link{
    font-family: 'Orbitron', sans-serif;
}
.navbar-brand{
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
}
.badge{
    margin-top: 30px ;
    font-size: 20px;
}
